:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;    ;
    --primary-white-color:#ffffff;
    --background-section-color:#2F303A;
}
body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: roboto, sans-serif;
}

.main h1 {
    color: var(--primary-white-color);
    margin-top: 0;
    margin-bottom: 0;
}

.main h2 {
    color: var(--primary-white-color);
    margin-top: 0;
    margin-bottom: 0;
}

.main .container {
    padding-top: 94px;
    padding-bottom: 50px;
}

.filters {
    font-family: inherit;
    display: flex;
    justify-content: center;
}

.filters .item {
    border-radius: 2px;
    margin-right: 8px;
}

.filter-btn {
    padding: 6px 22px;
}

.filters .item:last-child {
    margin-right: 0;
}

.filters .filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}

.item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-decoration: none;
    margin-left: 24px;
}

.item-text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    text-decoration: none;
    margin-left: 24px;
}

.item {
    text-decoration: none;
}

.projects li {
    border: 1px solid #EEEEEE;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projects .item {
    margin-right: 30px;
    
}

.projects .item:nth-child(3n) {
    
}